Flask==3.0.0
flask-cors==4.0.0
gunicorn==21.2.0

# ML stack
tensorflow==2.12.0
keras==2.12.0
numpy==1.23.5
opencv-python-headless==4.7.0.72
mediapipe==0.10.8

# Deepface optional (but works)
deepface==0.0.92

# utilities
pillow
